PORT=3043

DB_SERVER=localhost
DB_PORT=1433
DB_NAME=your_database
DB_USER=sa
DB_PASSWORD=your_password
DB_ENCRYPT=true
DB_TRUST_SERVER_CERTIFICATE=true
DB_ENABLE_ARITH_ABORT=true
DB_POOL_MAX=100
DB_POOL_MIN=0
DB_IDLE_TIMEOUT=30000

CLEAR_PASSWORD=change_me
DELETE_PASSWORD=change_me
